*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}

/*-----кольори-----*/
:root{
    --blue0: #0a1e5e;
    --blue: #032055;
    --green: #31d7a9;
    --background: #001232;
    --background-image: linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
    --background-hover: linear-gradient(169deg, #ff4343 17%, #aa52a1 63%, #5560ff 100%);
    --box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.40);
    --overlay: linear-gradient(0deg, #7400ba 0%, #0f5ae0 100%);
    --color: #dbe2fb;
    --border: 1px solid #12387e;
    --while-alfa-25: rgba(255, 255, 255, 0.25);
    --while-alfa-40: rgba(255, 255, 255, 0.40);
}
/*-----глобальні налаштування-----*/
body{
    flex-shrink: 16px;
    color: #dbe2fb;
    line-height: 28px;
    overflow-x: hidden;
    font-family: "open Sans", sans-serif;
    background: #001232;
}
html{
    scroll-behavior: smooth;
}
button,
input{
    border: none;
}
button{
    cursor: pointer;
}
.btn{
    display: inline-block;
    padding: .5rem 3rem;
    margin-top: 1rem;
    background-image: var(--background-image);
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
    flex-shrink: 1.1rem;
    border-radius: 2rem;
    transition: .6s;
}
.btn:hover{
    background-image: var(--background-hover);
}
.empty{
    background-image: #03205599;
    box-shadow: var(--box-shadow);
    border: var(--border);
    text-align: center;
    text-transform: capitalize;
    padding: 2rem 1rem;
    margin: 1rem auto;
    border-radius: .5rem;
}
.empty p{
    font-size: 26px;
    margin-block: 2rem;
}
input[type='submit']{
    cursor: pointer;
}
.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: center;
    justify-content: center;
}
.box-container .box{
    margin: 1rem;
}
.heading{
    text-align: center;
    line-height: 1.5;
}
.heading h1{
    font-size: 2rem;
    text-transform: capitalize;
    margin: 1rem 0;
}
.heading span{
    text-transform: uppercase;
    color: var(--green);
    font-size: 20px;
}
.heading p{
    line-height: 1.7;
}
.flex-btn{
    display: flex;
    justify-content: center;
}
.flex-btn .btn{
    margin: .5rem;
}
.banner{
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../image/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.banner .detail{
    color: #fff;
    line-height: 1.5;
}
.banner .detail h1{
    font-size: 3rem;
}
.banner .detail p{
    font-size: 16px;
    margin-bottom: 1rem;
    line-height: 2;
}
.banner .detail span{
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-top: 1rem;
}
.banner .detail a{
    color: #fff;
}
.banner .detail span i{
    margin: 0 1rem;
}
.not-found{
    margin: 5rem 0;
    text-align: center;
}
.not-found h1{
    font-size: 2.8rem;
    font-weight: 500;
    margin-top: 6rem;
}
.not-found img{
    margin: 0 0;
}
/*-----смуга прокрутки (скролбар)-----*/
::-webkit-scrollbar{
    width: 4px;
}
::-webkit-scrollbar-thumb{
    --webkit-border-radius: 20px;
    border-radius: 20px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: pink;
    position: relative;
}
::-webkit-scrollbar-track{
    --webkit-border-radius: 20px;
    border-radius: 20px;
    background: transparent;
    height: 50px;
    margin: 10px 30px;
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; 
    position: relative;
    padding: 5% 0;
}
.form-img{
    position: absolute;
    left: 0;
    width: 30%;
    z-index: -3;
}
.form-container form{
    width: 100%;
    padding: 60px 45px;
    margin: 0 auto;
    background-color: rgb(3, 32, 85);
    -webkit-box-shadow: 0px 0px 29.4px 0.6px rgb(0, 0, 0, 0.5);
    box-shadow: 0px 0px 29.4px 0.6px rgb(0, 0, 0, 0.5);
    border-radius: .5rem;
    padding: 2rem;
}
input:focus{
    background-color: transparent;
}
input::placeholder{
    color: var(--color);
    text-transform: capitalize;
}
.form-area{
    background-image: url('../image/account-bg.jpg');
    background-attachment: fixed;
    min-height: 100vh;
}
.form-area p{
    padding-top: 1.2rem;
}
.form-container .login{
    width: 40rem;
}
.form-container .register{
    width: 60rem;
}
.form-container .register .img-box img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    background-color: var(--blue0);
}
.form-container form h3{
    text-transform: capitalize;
    text-align: center;
    font-size: 2rem;
    margin: 1.5rem 0; 
    font-weight: 400;
}
.form-container form p{
    padding-top: 1rem;
    font-size: 1.2rem;
    color: var(--color);
    text-transform: capitalize;
    margin-bottom: .5rem;
}
.form-container form span{
    color: red;
}
.form-container form .link{
    padding-top: 1rem;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.form-container form .link a{
    color: var(--green);
}
.form-container form .box{
    width: 100%;
    height: 50px;
    border: var(--border);
    border-radius: .5rem;
    padding-left: 20px;
    color: #fff;
    background-color: transparent;
}
.form-container form textarea{
    height: 20rem;
    resize: none;
}
.form-container .flex{
    display: flex;
    gap: 2rem;
}
.review .form-container .col{
    display: flex;
}
.form-container .flex .col,
.review .form-container .input-field{
    flex: 1 1 25rem;
    margin: 0 .4rem;
}
.form-container .btn{
    width: 100%;
}
.form-container .btn:hover{
    background-color: var(--background-hover);
}
.form-container .image{
    height: 30rem;
}
.post-editor .image{
    width: 100%;
    height: 100%;
}
.form-container .img-box{
    text-align: center;
}
/*-----хедер-----*/
header{
    padding: .5rem 4%;
    background-color: var(--blue);
    border-bottom: 1px solid #fff9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .right{
    display: flex;
}
#user-btn,
.toggle-btn{
    font-size: 2rem;
    color: var(--color);
    cursor: pointer;
}
header .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 120%;
    right: 5rem;
    background-color: #fff;
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
    width: 25rem;
    transform: scale(0);
    transform-origin: top right;
    box-shadow: var(--box-shadow);
    text-transform: capitalize;
}
header .profile.active{
    transform: scale(1.0);
    transition: .3s linear;
}
header .profile img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    object-fit: contain;
    margin-bottom: .5rem;
    padding: .3rem;
    background-image: var(--background-image);
}
header .profile h3{
    font-size: 1.3rem;
    color: var(--green);
}
header p{
    color: red;
    font-size: 1.1rem;
}
header .btn{
    padding: .4rem 1.5rem;
}
.sidebar{
    background-color: #032055;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding-top: 0;
    width: 20rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -30rem;
    width: 0rem;
    overflow: auto;
    z-index: 1200;
    transition: .5s;
}
.sidebar.active{
    left: 0;
    width: 20rem;
}
.sidebar h5{
    text-transform: uppercase;
    color: var(--green);
    padding: .5rem 1rem;
    margin: .5rem 0;
}
.sidebar .profile{
    margin: .5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}
.sidebar .logo-img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    padding: .5rem;
    border: 2px solid var(--green);
}
.sidebar .profile h3{
    margin-top: .5rem;
    text-transform: uppercase;
    color: var(--green);
    font-size: 1.3rem;
}
.sidebar ul li{
    padding: 1rem;
    background-color: var(--while-alfa-25);
    border: 2px solid var(--while-alfa-40);
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(10px);
    position: relative;
    transition: .5s;
    margin: .5rem 0;
}
.sidebar ul li::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 0%;
    width: 5px;
    background-color: var(--green);
    transition: all 200ms linear;
}
.sidebar ul li:hover::before{
    height: 100%;
}
.sidebar ul li i{
    color: var(--green);
    font-size: 20px;
    margin-right: 2rem;
}
.sidebar ul li a{
    text-transform: uppercase;
    color: var(--color);
    font-size: 12px;
    font-weight: bold;
}
.sidebar ul li a:hover{
    color: var(--green);
}
.social-links{
    padding-bottom: 2.5rem;
}
.social-links i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    background-color: var(--while-alfa-25);
    border: 2px solid var(--while-alfa-40);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: .5s;
    color: var(--color);
    margin: 0 .5rem;
}
.social-links i:hover{
    background-color: var(--green);
}