*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}

/*-----кольори-----*/
:root{
    --blue0: #0a1e5e;
    --blue: #032055;
    --green: #31d7a9;
    --background: #001232;
    --background-image: linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
    --background-hover: linear-gradient(169deg, #ff4343 17%, #aa52a1 63%, #5560ff 100%);
    --box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.40);
    --overlay: linear-gradient(0deg, #7400ba 0%, #0f5ae0 100%);
    --color: #dbe2fb;
    --border: 1px solid #12387e;
}
/*-----глобальні налаштування-----*/
body{
    flex-shrink: 16px;
    color: #dbe2fb;
    line-height: 28px;
    overflow-x: hidden;
    font-family: "open Sans", sans-serif;
    background: #001232;
}
html{
    scroll-behavior: smooth;
}
button,
input{
    border: none;
}
button{
    cursor: pointer;
}
.btn{
    display: inline-block;
    padding: .5rem 3rem;
    margin-top: 1rem;
    background-image: var(--background-image);
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
    flex-shrink: 1.1rem;
    border-radius: 2rem;
    transition: .6s;
}
.btn:hover{
    background-image: var(--background-hover);
}
.empty{
    background-image: #03205599;
    box-shadow: var(--box-shadow);
    border: var(--border);
    text-align: center;
    text-transform: capitalize;
    padding: 2rem 1rem;
    margin: 1rem auto;
    border-radius: .5rem;
}
.empty p{
    font-size: 26px;
    margin-block: 2rem;
}
input[type='submit']{
    cursor: pointer;
}
.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: center;
    justify-content: center;
}
.box-container .box{
    margin: 1rem;
}
.heading{
    text-align: center;
    line-height: 1.5;
}
.heading h1{
    font-size: 2rem;
    text-transform: capitalize;
    margin: 1rem 0;
}
.heading span{
    text-transform: uppercase;
    color: var(--green);
    font-size: 20px;
}
.heading p{
    line-height: 1.7;
}
.flex-btn{
    display: flex;
    justify-content: center;
}
.flex-btn .btn{
    margin: .5rem;
}
.banner{
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../image/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.banner .detail{
    color: #fff;
    line-height: 1.5;
}
.banner .detail h1{
    font-size: 3rem;
}
.banner .detail p{
    font-size: 16px;
    margin-bottom: 1rem;
    line-height: 2;
}
.banner .detail span{
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-top: 1rem;
}
.banner .detail a{
    color: #fff;
}
.banner .detail span i{
    margin: 0 1rem;
}
.not-found{
    margin: 5rem 0;
    text-align: center;
}
.not-found h1{
    font-size: 2.8rem;
    font-weight: 500;
    margin-top: 6rem;
}
.not-found img{
    margin: 0 0;
}
/*-----смуга прокрутки (скролбар)-----*/
::-webkit-scrollbar{
    width: 4px;
}
::-webkit-scrollbar-thumb{
    --webkit-border-radius: 20px;
    border-radius: 20px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: pink;
    position: relative;
}
::-webkit-scrollbar-track{
    --webkit-border-radius: 20px;
    border-radius: 20px;
    background: transparent;
    height: 50px;
    margin: 10px 30px;
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; 
    position: relative;
    padding: 5% 0;
}
.form-img{
    position: absolute;
    left: 0;
    width: 30%;
    z-index: -3;
}
.form-container form{
    width: 100%;
    padding: 60px 45px;
    margin: 0 auto;
    background-color: rgb(3, 32, 85);
    -webkit-box-shadow: 0px 0px 29.4px 0.6px rgb(0, 0, 0, 0.5);
    box-shadow: 0px 0px 29.4px 0.6px rgb(0, 0, 0, 0.5);
    border-radius: .5rem;
    padding: 2rem;
}
input:focus{
    background-color: transparent;
}
input::placeholder{
    color: var(--color);
    text-transform: capitalize;
}
.form-area{
    background-image: url('../image/account-bg.jpg');
    background-attachment: fixed;
}
.form-area p{
    padding-top: 1.2rem;
}
.form-container .login{
    width: 40rem;
}
.form-container .register{
    width: 60rem;
}
.form-container .register .img-box img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    background-color: var(--blue0);
}
.form-container form h3{
    text-transform: capitalize;
    text-align: center;
    font-size: 2rem;
    margin: 1.5rem 0; 
    font-weight: 400;
}
.form-container form p{
    padding-top: 1rem;
    font-size: 1.2rem;
    color: var(--color);
    text-transform: capitalize;
    margin-bottom: .5rem;
}
.form-container form span{
    color: red;
}
.form-container form .link{
    padding-top: 1rem;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.form-container form .link a{
    color: var(--green);
}
.form-container form .box{
    width: 100%;
    height: 50px;
    border: var(--border);
    border-radius: .5rem;
    padding-left: 20px;
    color: #fff;
    background-color: transparent;
}
.form-container form textarea{
    height: 20rem;
    resize: none;
}
.form-container .flex{
    display: flex;
    gap: 2rem;
}
.review .form-container .col{
    display: flex;
}
.form-container .flex .col,
.review .form-container .input-field{
    flex: 1 1 25rem;
    margin: 0 .4rem;
}
.form-container .btn{
    width: 100%;
}
.form-container .btn:hover{
    background-color: var(--background-hover);
}
.form-container .image{
    height: 30rem;
}
.post-editor .image{
    width: 100%;
    height: 100%;
}
.form-container .img-box{
    text-align: center;
}
/*-----футер-----*/
.newletter{
    width: 100%;
    background-image: url('../image/newsletter.jpg');
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}
.overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: -webkit-linear-gradient(0deg, #7400ba 0%, #0f5ae0 100%);
    opacity: 0.8;
}
.newletter .box-detail{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.7;
    text-align: center;
}
.newletter .box-detail span{
    font-size: 1.5rem;
    text-transform: capitalize;
}
.newletter .box-detail h1{
    text-transform: capitalize;
}
.newletter .box-detail p{
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    margin: 1rem 0;
}
.newletter .box-detail input{
    width: 40rem;
    padding: 1.2rem;
    border: none;
    background-color: #fff;
}
.newletter .box-detail .icons i{
    background-image: var(--background-image);
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    transition: .5s;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 1rem;
}
.newletter button{
    border: none;
}
.client{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    align-items: center;
    justify-content: center;
    padding: 4% 0;
    margin: 0 auto;
}
.client .img-box{
    text-align: center;
    cursor: pointer;
}
footer{
    background-image: url('../image/footer.png');
    background-position: top center;
    background-size: cover;
    padding: 110px 0 0;
    width: 100%;
}
footer .content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    align-items: center;
    justify-content: center;
}
footer .content .box{
    margin: 1rem;
    line-height: 1.7;
    color: var(--color);
    font-size: 1.1rem;
}
footer .content .box h3{
    text-transform: capitalize;
    margin-bottom: .5rem;
    color: #31d7a9;
}
footer .content .box a{
    font-size: 16px;
    display: block;
    color: var(--color);
    text-transform: capitalize;
}
footer .content .box a:hover{
    color: var(--green);
}
footer .content .box i{
    margin-right: .5rem;
}
footer .content .box p{
    line-height: 1.5;
}
footer .content .box .icons i{
    background: var(--background-image);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    transition: .5s;
    cursor: pointer;
    margin: .1rem;
}
footer .bottom{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 2rem;
    border-top: 1px solid #fff;
    line-height: 2;
    color: var(--color);
    text-align: center;
}
footer .bottom a{
    position: absolute;
    right: 2rem;
    text-transform: capitalize;
    color: var(--color);
    font-weight: bold;
}