*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}

/*-----кольори-----*/
:root{
    --blue0: #0a1e5e;
    --blue: #032055;
    --green: #31d7a9;
    --background: #001232;
    --background-image: linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
    --background-hover: linear-gradient(169deg, #ff4343 17%, #aa52a1 63%, #5560ff 100%);
    --box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.40);
    --overlay: linear-gradient(0deg, #7400ba 0%, #0f5ae0 100%);
    --color: #dbe2fb;
    --border: 1px solid #12387e;
    --while-alfa-25: rgba(255, 255, 255, 0.25);
    --while-alfa-40: rgba(255, 255, 255, 0.40);
}
/*-----глобальні налаштування-----*/
body{
    flex-shrink: 16px;
    color: #dbe2fb;
    line-height: 28px;
    overflow-x: hidden;
    font-family: "open Sans", sans-serif;
    background: #001232;
}
html{
    scroll-behavior: smooth;
}
button,
input{
    border: none;
}
button{
    cursor: pointer;
}
.btn{
    display: inline-block;
    padding: .5rem 3rem;
    margin-top: 1rem;
    background-image: var(--background-image);
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
    flex-shrink: 1.1rem;
    border-radius: 2rem;
    transition: .6s;
}
.btn:hover{
    background-image: var(--background-hover);
}
.empty{
    background-image: #03205599;
    box-shadow: var(--box-shadow);
    border: var(--border);
    text-align: center;
    text-transform: capitalize;
    padding: 2rem 1rem;
    margin: 1rem auto;
    border-radius: .5rem;
}
.empty p{
    font-size: 26px;
    margin-block: 2rem;
}
input[type='submit']{
    cursor: pointer;
}
.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: center;
    justify-content: center;
}
.box-container .box{
    margin: 1rem;
    background-color: #03205599;
    box-shadow: var(--box-shadow);
    border: var(--border);
    text-align: center;
    padding: 2rem 1rem;
    border-radius: .5rem;
}
.heading{
    text-align: center;
    line-height: 1.5;
}
.heading h1{
    font-size: 2rem;
    text-transform: capitalize;
    margin: 1rem 0;
}
.heading span{
    text-transform: uppercase;
    color: var(--green);
    font-size: 20px;
}
.heading p{
    line-height: 1.7;
}
.flex-btn{
    display: flex;
    justify-content: center;
}
.flex-btn .btn{
    margin: .5rem;
}
.banner{
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../image/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.banner .detail{
    color: #fff;
    line-height: 1.5;
}
.banner .detail h1{
    font-size: 3rem;
}
.banner .detail p{
    font-size: 16px;
    margin-bottom: 1rem;
    line-height: 2;
}
.banner .detail span{
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-top: 1rem;
}
.banner .detail a{
    color: #fff;
}
.banner .detail span i{
    margin: 0 1rem;
}
.not-found{
    margin: 5rem 0;
    text-align: center;
}
.not-found h1{
    font-size: 2.8rem;
    font-weight: 500;
    margin-top: 6rem;
}
.not-found img{
    margin: 0 0;
}
/*-----смуга прокрутки (скролбар)-----*/
::-webkit-scrollbar{
    width: 4px;
}
::-webkit-scrollbar-thumb{
    --webkit-border-radius: 20px;
    border-radius: 20px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: pink;
    position: relative;
}
::-webkit-scrollbar-track{
    --webkit-border-radius: 20px;
    border-radius: 20px;
    background: transparent;
    height: 50px;
    margin: 10px 30px;
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; 
    position: relative;
    padding: 5% 0;
}
.form-img{
    position: absolute;
    left: 0;
    width: 30%;
    z-index: -3;
}
.form-container form{
    width: 100%;
    padding: 60px 45px;
    margin: 0 auto;
    background-color: rgb(3, 32, 85);
    -webkit-box-shadow: 0px 0px 29.4px 0.6px rgb(0, 0, 0, 0.5);
    box-shadow: 0px 0px 29.4px 0.6px rgb(0, 0, 0, 0.5);
    border-radius: .5rem;
    padding: 2rem;
}
input:focus{
    background-color: transparent;
}
input::placeholder{
    color: var(--color);
    text-transform: capitalize;
}
.form-area{
    background-image: url('../image/account-bg.jpg');
    background-attachment: fixed;
    min-height: 100vh;
}
.form-area p{
    padding-top: 1.2rem;
}
.form-container .login{
    width: 40rem;
}
.form-container .register{
    width: 60rem;
}
.form-container .register .img-box img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    background-color: var(--blue0);
}
.form-container form h3{
    text-transform: capitalize;
    text-align: center;
    font-size: 2rem;
    margin: 1.5rem 0; 
    font-weight: 400;
}
.form-container form p{
    padding-top: 1rem;
    font-size: 1.2rem;
    color: var(--color);
    text-transform: capitalize;
    margin-bottom: .5rem;
}
.form-container form span{
    color: red;
}
.form-container form .link{
    padding-top: 1rem;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.form-container form .link a{
    color: var(--green);
}
.form-container form .box{
    width: 100%;
    height: 50px;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding-left: 20px;
    color: #fff;
    background-color: transparent;
}
.form-container form textarea{
    height: 20rem;
    resize: none;
}
.form-container .flex{
    display: flex;
    gap: 2rem;
}
.review .form-container .col{
    display: flex;
}
.form-container .flex .col,
.review .form-container .input-field{
    flex: 1 1 25rem;
    margin: 0 .4rem;
}
.form-container .btn{
    width: 100%;
}
.form-container .btn:hover{
    background-color: var(--background-hover);
}
.form-container .image{
    height: 30rem;
}
.post-editor .image{
    width: 100%;
    height: 100%;
}
.form-container .img-box{
    text-align: center;
}
.dropdown{
    position: relative;
    display: inline-block;
    height: 50px;
    background-color: #03205599;
    box-shadow: var(--box-shadow);
    border: var(--border);
    width: 100%;
    border-radius: .5rem;
    margin: .5rem 0;
    font-size: 18px;
    color: var(--color);
    background-color: transparent;
    padding: .5rem;
}
.dropdown span{
    color: var(--color)!important;
}
.dropdown-btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: var(--blue0);
    border: var(--border);
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 100;
}
.dropdown-content label{
    display: block;
    padding: 8px 0;
    cursor: pointer;
    border-bottom: 1px solid #12387e;
}
.dropdown-content label:hover{
    background-color: #f1f1f1;
    color: var(--blue);
}
.form-container .img-box img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid var(--green);
    padding: .5rem;
}
/*-----хедер-----*/
header{
    padding: .5rem 4%;
    background-color: var(--blue);
    border-bottom: 1px solid #fff9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .right{
    display: flex;
}
#user-btn,
.toggle-btn{
    font-size: 2rem;
    color: var(--color);
    cursor: pointer;
}
header .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 120%;
    right: 5rem;
    background-color: #fff;
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
    width: 25rem;
    transform: scale(0);
    transform-origin: top right;
    box-shadow: var(--box-shadow);
    text-transform: capitalize;
}
header .profile.active{
    transform: scale(1.0);
    transition: .3s linear;
}
header .profile img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    object-fit: contain;
    margin-bottom: .5rem;
    padding: .3rem;
    background-image: var(--background-image);
}
header .profile h3{
    font-size: 1.3rem;
    color: var(--green);
}
header p{
    color: red;
    font-size: 1.1rem;
}
header .btn{
    padding: .4rem 1.5rem;
}
.sidebar{
    background-color: #032055;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding-top: 0;
    width: 20rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -30rem;
    width: 0rem;
    overflow: auto;
    z-index: 1200;
    transition: .5s;
}
.sidebar.active{
    left: 0;
    width: 20rem;
}
.sidebar h5{
    text-transform: uppercase;
    color: var(--green);
    padding: .5rem 1rem;
    margin: .5rem 0;
}
.sidebar .profile{
    margin: .5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}
.sidebar .logo-img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    padding: .5rem;
    border: 2px solid var(--green);
}
.sidebar .profile h3{
    margin-top: .5rem;
    text-transform: uppercase;
    color: var(--green);
    font-size: 1.3rem;
}
.sidebar ul li{
    padding: 1rem;
    background-color: var(--while-alfa-25);
    border: 2px solid var(--while-alfa-40);
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(10px);
    position: relative;
    transition: .5s;
    margin: .5rem 0;
}
.sidebar ul li::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 0%;
    width: 5px;
    background-color: var(--green);
    transition: all 200ms linear;
}
.sidebar ul li:hover::before{
    height: 100%;
}
.sidebar ul li i{
    color: var(--green);
    font-size: 20px;
    margin-right: 2rem;
}
.sidebar ul li a{
    text-transform: uppercase;
    color: var(--color);
    font-size: 12px;
    font-weight: bold;
}
.sidebar ul li a:hover{
    color: var(--green);
}
.social-links{
    padding-bottom: 2.5rem;
}
.social-links i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    background-color: var(--while-alfa-25);
    border: 2px solid var(--while-alfa-40);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: .5s;
    color: var(--color);
    margin: 0 .5rem;
}
.social-links i:hover{
    background-color: var(--green);
}
/*-----панель керування-----*/
.dashboard{
    padding: 4% 0;
}
.dashboard .box-container{
    grid-template-columns: repeat(auto-fit, 25rem);
}
.dashboard .box-container .box{
    text-align: center;
    height: 15rem;
    padding: 1.5rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dashboard .box-container .box .btn{
    margin-top: auto;
}
.dashboard .box-container .box h3{
    font-size: 2.7rem;
}
.dashboard .box-container .box p{
    padding: 1rem;
    font-size: 1.8rem;
    text-transform: capitalize;
}
/*-----активні фільми на панельі керування-----*/
.dashboard-movies{
    padding: 4% 2%;
}
.dashboard-movies .box-container{
    grid-template-columns: repeat(auto-fit, 40rem);
}
.dashboard-movies .box-container .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    text-transform: capitalize;
}
.dashboard-movies .box-container .box .btn{
    padding: .5rem;
}
.dashboard-movies .box-container .box .img-box{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid var(--green);
    padding: 5px;
    margin-right: 1rem;
}
.dashboard-movies .box-container .box img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: var(--border);
}
.dashboard-movies .box-container .box a{
    color: var(--color);
    font-size: 1.5rem;
}
.dashboard-movies .box-container .box a:hover{
    color: var(--green);
}
/*-----заброньовані місця на панельі керування-----*/
.researved-seat{
    padding: 5% 2%;
}
.researved-seat .box-container{
    grid-template-columns: repeat(auto-fit, 40rem);
}
.researved-seat table{
    background-color: var(--blue0);
    margin: 1rem;
    text-align: center;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}
.researved-seat table th, 
.researved-seat table td{
    border: var(--border);
    padding: .3rem;
    text-transform: capitalize;
}
/*-----сторінка перегляд фільмів-----*/
.show-movies{
    padding: 0%;
}
.show-movies .box-container{
    grid-template-columns: repeat(auto-fit, 20rem);
    padding: 3rem 0;
}
.show-movies .box-container .box{
    background-color: var(--blue)!important;
    border-radius: none;
    color: var(--color);
    box-shadow: none;
    text-align: center;
    padding: 0; 
}
.show-movies .box-container .box .content{
    padding: 1rem;
}
.show-movies .box-container .box img{
    width: 100%;
    height: 20rem;
}
.show-movies .box-container .box .button{
    display: flex;
    justify-content: space-between;
}
.show-movies .box-container .box h3{
    text-transform: capitalize;
    font-size: 1.2rem;
}
.show-movies .box-container .box .btn{
    font-size: .9rem;
    padding: .5rem 1rem;
}
.show-movies .box-container .box a{
    padding: .2rem 1rem!important;
}
/*-----сторінка деталі фільму-----*/
.read-movies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    max-width: 1100px;
    margin: 1rem auto;
}
.read-movies .container{
    width: 100%;
}
.read-movies .box{
    width: 100%;
    background-color: #03205599;
    box-shadow: var(--box-shadow);
    border: var(--border);
    position: relative;
    margin: 1rem;
    padding-bottom: 2rem;
}
.big-img{
    height: 70vh;
    width: 100%;
}
.big-img img{
    height: 70vh;
    width: 100%;
    object-fit: cover;
}
.read-movies .status{
    background-image: var(--background-image);
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: .2rem 1rem;
    border-radius: 1.5rem;
    text-transform: capitalize;
    color: var(--color);
}
.read-movies .head{
    padding: 3rem .5rem;
    background-color: #032055;
    margin-top: -.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}
.read-movies .head .title{
    font-weight: 400;
    font-size: 1.2rem;
}
.read-movies .head .title span{
    color: var(--green);
}
.read-movies .content{
    padding: 0 3rem;
}
.read-movies h1{
    text-transform: capitalize;
    margin: 3rem 0;
    position: relative;
    line-height: 2;
    text-align: center;
}
.read-movies h1::before,
.read-movies h1::after{
    position: absolute;
    content: "";
    background-color: rgba(49, 215, 169, 0.5);
    width: 100%;
    height: 1px;
    left: -2%;
}
.read-movies h1::before{
    top: 0;
}
.read-movies h1::after{
    bottom: 0;
}
.read-movies .screenshot{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;
}
.read-movies .screenshot img{
    width: 100%;
    height: 15rem;
    object-fit: cover;
}
.read-movies .description{
    text-align: left;
    line-height: 2;
}
.read-movies .cast-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    align-items: center;
    justify-content: center;
}
.read-movies .cast-section .detail{
    margin: .1rem;
    text-align: center;
}
.read-movies .cast-section .detail h2{
    font-weight: 400;
    font-size: 1.1rem;
    text-transform: capitalize;
}
.read-movies .cast-section .detail p{
    color: var(--green);
    text-transform: capitalize;
}
.read-movies .cast-section .img-box{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 1px solid rgba(49, 215, 169, 0.5);
    margin: 0 auto;
    padding: .5px;
}
.read-movies .cast-section .img-box img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid var(--green);
    object-fit: cover;
}
.read-movies .btn{
    width: 33%;
}
.form-container .flex-box{ 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); 
    gap: 1rem; 
} 
.form-container .flex-box img{ 
    width: 100%; 
}
.read-movies .flex-btn{
    margin-top: 2rem;
}
/*-----сторінка перегляд акторів-----*/
.gride{
    padding: 4% 0;
}
.gride .box-container{
    grid-template-columns: repeat(auto-fit, 25rem);
}
.gride .box-container .box{
    text-align: center;
    padding: 2rem;
}
.gride .box-container .box img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.gride .box-container .box h2{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2;
}
.gride .box-container .box p{
    line-height: 1.5;
    padding: .5rem 0;
    font-size: 1.1rem;
    color: var(--color);
    text-transform: capitalize;
}
.gride .box-container .box span{
    color: var(--green);
    text-transform: capitalize;
}
.gride .box-container .box p a:hover{
    text-decoration: underline;
}
/*-----сторінка перегляд зали-----*/
.hall-container{
    padding: 4%;
}
.hall-container table{
    background-color: #03205599;
    box-shadow: var(--box-shadow);
    border: var(--border); 
    text-align: center;
    margin: 1rem;
    border-radius: .5rem;
}
.hall-container th,
.hall-container td{
    border: var(--border);
    padding: .6rem .7rem;
    text-transform: capitalize;
    border-collapse: collapse;
}
.hall-container table .btn{
    padding: .3rem .8rem;
    font-size: 0.9rem;
    min-width: 80px;
    text-align: center;
}
/*-----сторінка профілю-----*/
.profile{
    padding: 5%;
    max-width: 50rem;
    margin: 4rem auto;
    text-align: center;
    background-color: var(--blue);
}
.profile .img-box{
    margin-bottom: 2rem;
}
.profile .img-box h3{
    text-transform: capitalize;
    font-size: 1.1rem;
}
.profile .img-box img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
    padding: .5rem;
    background-image: var(--background-image);
}
.profile .details{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
.profile .details img{
    width: 50px;
}
.profile .details div{
    background-color: #03205599;
    box-shadow: var(--box-shadow);
    border: var(--border);
    text-align: center;
    border-radius: 1.5rem;
    padding: 1rem;
    margin: .5rem;
    text-transform: capitalize;
    font-size: 1.1rem;
}
.profile .details p span{
    color: var(--green);
}
/*-----сторінка зареєстрованих користувачів-----*/
.search_form{
    max-width: 35rem;
    margin: 0 auto;
    border-radius: .5rem;
    padding: .5rem;
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    height: 50px;
    background-color: #03205599;
    box-shadow: var(--box-shadow);
    border: var(--border);
}
.search_form input::placeholder{
    color: var(--color);
}
.search_form input{
    width: 100%;
    font-size: 1.2rem;
    color: var(--color);
    background-color: transparent;
}
.search_form button{
    background: none;
    cursor: pointer;
    font-size: 1.4rem;
    color: var(--green);
}
.user-container .box-container{
    grid-template-columns: repeat(auto-fit, 25rem);
}
.user-container .box-container .box{
    text-align: center;
    text-transform: capitalize;
    position: relative;
    padding: 0;
}
.user-container .box-container .box:hover .detail{
    height: 13rem;
    padding: 1rem 0;
    padding-bottom: 1rem;
}
.user-container .box-container .box .detail{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s;
    line-height: 2;
}
.user-container .box-container .box span{
    text-transform: none;
    color: var(--green);
}
.user-container .box-container .box img{
    width: 100%;
    height: 28rem;
    border-radius: .5rem;
}
/*-----сторінка повідомлень-----*/
.reviews-container .box-container .box{
    padding: 1.5rem;
    position: relative;
}
.reviews-container .box-container .box .ratings{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 1.6rem;
    padding: .3rem;
    border-radius: 1rem;
}
.reviews-container .box-container .box .user{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
.reviews-container .box-container .box .user img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: .5rem;
    box-shadow: var(--box-shadow);
}
.reviews-container .box-container .box .user p{
    color: var(--color);
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: .2rem;
}
.reviews-container .box-container .box .user span{
    color: orange;
}
.reviews-container .box-container .box title{
    text-transform: capitalize;
    color: var(--green);
    margin: 1rem 0;
}
.reviews-container .box-container .box .description{
    font-size: 1rem;
    line-height: 2;
    margin-bottom: 1rem;
}